<?xml version="1.0" encoding="UTF-8"?>
   <repository>
        <name>Women Writers Resource Project</name>
        <adminEmail>rsutton@emory.edu</adminEmail>
        <protocolVersion>2.0</protocolVersion>
        <granularity>seconds</granularity>
        <earliestDateStamp>1970-01-01</earliestDateStamp>

        <identifier>
            <delimiter>:</delimiter>
            <recordprefix></recordprefix>
            <repositoryIdentifier>chaucer.library.emory.edu</repositoryIdentifier>
            <showIdentifier>false</showIdentifier>
        </identifier>

        <resumption>
            <maxRecords>50</maxRecords>
            <maxIdentifers>200</maxIdentifers>
        </resumption>
        
        <sets>
            <!--set must be listed here and defined with in each metadata queries doc-->
            <set setName="Edited" setSpec="ed">
                <description>Critical editions of texts.</description>
            </set>
            <set setName="Unedited" setSpec="uned">
                <description>Unedited texts.</description>
            </set>            
            <set setName="Poetry" setSpec="poetry">
                <description>Poetry texts.</description>
            </set>
            <set setName="Prose" setSpec="prose">
                <description>Prose texts.</description>
            </set>            
            <set setName="Drama" setSpec="drama">
                <description>Dramatic texts.</description>
            </set>            
	    <set setName="France" setSpec="fr">
                <description>French texts.</description>
            </set>
	    <set setName="Great Britain" setSpec="gb">
                <description>British Texts.</description>
            </set>
	    <set setName="United States" setSpec="us">
                <description>Texts from the United States.</description>
            </set>
	    <set setName="1600-1699" setSpec="17c">
                <description>Texts from the 17th century.</description>
            </set>
	    <set setName="1700-1799" setSpec="18c">
                <description>Texts from the 18th century.</description>
            </set>
	    <set setName="1800-1899" setSpec="19c">
                <description>Texts from the 19th century.</description>
            </set>
	    <set setName="1900-1999" setSpec="20c">
                <description>Texts from the 20th century.</description>
            </set>
	<!-- FIXME: fill in other sets, write better descriptions. -->

        </sets>
        
        <metadataFormats>
            <!-- Add additional metadataFormat entries for each supported metadata format -->
            <metadataFormat name="oai_dc">
                <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>
                <metadataNameSpace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNameSpace>
                <record_prefix>dc</record_prefix>
                <recordNameSpace>http://purl.org/dc/elements/1.1</recordNameSpace>
                <xQueries>xquery/oai_dc.xml</xQueries>
            </metadataFormat>
        </metadataFormats>
        
        <connectionParameters>
            <tamino>
                <host>vip.library.emory.edu/tamino</host>
                <database>EWWRP</database>
                <collection>wwrp</collection>
                <qry_lang>xquery</qry_lang>
            </tamino>        
        </connectionParameters>
    </repository>
